## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [87]:
import pandas as pd
import numpy as np

In [88]:
import random
def random_list(start,stop,length):
    if length>=0:
        length=int(length)
    start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
    return random_list

In [89]:
randomlist = random_list(10**5,10**6,3)
print(randomlist)
data = {'國家': ['Taiwan', 'Japanese', 'USA'],
        '人口': randomlist}
data = pd.DataFrame(data)

[989011, 829806, 188712]

In [90]:
view = pd.DataFrame(data)
view

       人口        國家
0  989011    Taiwan
1  829806  Japanese
2  188712       USA

In [109]:
view['人口'].max()

989011

In [113]:
m=view.sort_values(by='人口', ascending=False)
m.head(1)

       人口      國家
0  989011  Taiwan